.center-banner-container {
    margin: 60px 0;
}

.relative {
    padding: 60px 0px;
}

.slick-slide {
    padding: 0 8px;
}

.slick-prev:before,
.slick-next:before {
    color: #00b14f;
    /* TopCV green */
}

.slick-dots li button:before {
    color: #ccc;
}

.slick-dots li.slick-active button:before {
    color: #00b14f;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}